<br>
<div class="main">

<div class="container-fluid ">
<div align="center">
<br>
<br>
<h3>Vinsamlegast fylltu út formið hér að neðan:</h3>
<p> Þú getur einnig haft samband á facebook-síðunni</p>
<a href="https://www.facebook.com/pages/AH-Pr%C3%B3f%C3%B6rk/1404972903130412" class="btn btn-primary btn-facebook" role="button">AH Próförk</a>
</div>
<br>
<br>


<div align="center">
  <h3>Fylla út </h3>
  <br>
</div>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' }, :url => contact_path do |f| %>
    <%= f.input :name, label: 'Nafn', :required => false %>
    <%= f.input :email, label: 'Netfang', :required => false %>
    <%= f.input :message, label: 'Innihald', :as => :text, :required => false %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Senda', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>


