<!DOCTYPE html>
<html>
  <title>Proförk</title>
  <%= stylesheet_link_tag    'application', media: 'all', :"data-turbolinks-track" => true %>
<%= javascript_include_tag 'application', :"data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
  <link href="/assets/application.css" rel="stylesheet" media="screen">

<header class="navbar navbar-fixed-top navbar-inverse">
<br>

<%= link_to "AH Próförk", root_path,id: "logo" %></a>


  </header>

<nav class="navbar navbar-inverse">

  <div class="container-fluid">
    <div class="navbar-header" style='position:fixed'>
    </div>
    <div>
       <ul class="nav navbar-nav navbar-left">

       <a><%= link_to "Heim", root_path, {:class =>"navbar-brand"} %></a>

      <a><%= link_to "Frágangur og skil á verkum", price_path, {:class =>"navbar-brand"} %></a>

      <a><%= link_to "Námsaðstoð í Íslensku", work_path, {:class =>"navbar-brand"} %></a>
      <a><%= link_to "Bakgrunnur", backround_path, {:class =>"navbar-brand"} %></a>
      
       </ul>
       <ul class="nav navbar-nav navbar-right">
           <a><%= link_to "Hafa Samband", contact_path, {:class =>"navbar-brand"} %></a>
    </div>
  </div>
</nav>
</head>
<body>

<div class="row-fluid">
       <div class="span4" style='position:fixed'>
       	<br>
       	<br>
        <%- if params[:controller] == "base" %>
          <%= render "shared/sidebar" %>
        <%end%>
        <%- if params[:controller] == "price" %>
          <%= render "shared/sidebar2" %>
        <%end%>
        <%- if params[:controller] == "work" %>
          <%= render "shared/sidebar3" %>
        <%end%>
        <%- if params[:controller] == "backround" %>
          <%= render "shared/sidebar4" %>
        <%end%>
        <%- if params[:controller] == "handrit" %>
          <%= render "shared/sidebar" %>
        <%end%>
        <%- if params[:controller] == "auglysingar" %>
          <%= render "shared/sidebar2" %>
        <%end%>
        <%- if params[:controller] == "timarit" %>
          <%= render "shared/sidebar3" %>
        <%end%>
        <%- if params[:controller] == "contact" %>
          <%= render "shared/sidebar" %>
        <%end%>
       </div>
       <div class='span9'>
                <!-- content of page -->
       </div>
    </div>
</div>




<div id="page-content-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
<%= yield %>
</div>
</div></div></div></div>
  <%= render 'layouts/footer' %>
</div>
</body>

</html>
