<!DOCTYPE html>
<html>
  <title>Proförk</title>
  <head>
  <%= stylesheet_link_tag    'application', media: 'all', :"data-turbolinks-track" => true %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<%= javascript_include_tag 'application', :"data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
  <link href="/assets/application.css" rel="stylesheet" media="screen">
</head>
  <div class="container">

<header>
  <header class="navbar navbar">
<%= link_to "AH Próförk", root_path,id: "logo" %></a>

</header>

<div class="navbar   navbar-inverse " role="navigation">
    <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="nav-collapse">
        <ul class="navbar-center">
        <a><%= link_to "Heim", root_path, {:class =>"navbar-brand"} %></a>

      <a><%= link_to "Frágangur og skil á verkum", price_path, {:class =>"navbar-brand"} %></a>

      <a><%= link_to "Námsaðstoð í Íslensku", work_path, {:class =>"navbar-brand"} %></a>
      <a><%= link_to "Bakgrunnur", backround_path, {:class =>"navbar-brand"} %></a>
      
           <a><%= link_to "Hafa Samband", contact_path, {:class =>"navbar-brand"} %></a></ul>          
        
      </div>
    </div>
  </div>
</div>

      </div>

 

</header>



<body>
  
 <div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%- if params[:controller] == "base" %>
          <%= render "shared/sidebar" %>
        <%end%>
        <%- if params[:controller] == "price" %>
          <%= render "shared/sidebar2" %>
        <%end%>
        <%- if params[:controller] == "work" %>
          <%= render "shared/sidebar3" %>
        <%end%>
        <%- if params[:controller] == "backround" %>
          <%= render "shared/sidebar4" %>
        <%end%>
        <%- if params[:controller] == "handrit" %>
          <%= render "shared/sidebar" %>
        <%end%>
        <%- if params[:controller] == "auglysingar" %>
          <%= render "shared/sidebar2" %>
        <%end%>
        <%- if params[:controller] == "timarit" %>
          <%= render "shared/sidebar3" %>
        <%end%>
        <%- if params[:controller] == "contact" %>
          <%= render "shared/sidebar" %>
        <%end%>
    </div>
    <div class="col-xs-9">
      <%= yield %>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-6">

            </div>
            <div class="col-xs-6"></div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
              <%= render 'layouts/footer' %>

</body>

</html>
